@use "../../../styles/colors" as color;
@use "../../../styles/mixins" as mixins;

.switcher {
  display: flex;
  width: 100%;
  gap: 12px;
  padding: 8px;
  background-color: color.$c-black-4percent;
  border-radius: 12px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.switcher button {
  width: 100%;
  background-color: transparent;
  padding: 10px 16px;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: color.$c-black-10percent;
  }
}

.active {
  color: color.$c-black-color;
  background-color: color.$c-white-color !important;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}
