@use "../../styles/colors" as color;
@use "../../styles/mixins" as mixins;

.create_card_wrapper{
  padding: 12px 290px;
  display: flex;
  gap: 50px;
}
.left_panel{
  display: flex;
  width: 349px;
  height: 100%;
  flex-direction: column;
  background-color: color.$c-white-color;
  border-radius: 15px;
  padding: 16px;

}
.right_panel{
  display: flex;
  height: 100%;
  width: 460px;
  flex-direction: column;
  background-color: color.$c-white-color;
  border-radius: 15px;
  padding: 16px;
}